.mainContainer {
  display: flex;
  flex-direction: row;
  height: 200px;
  flex-wrap: wrap;
}

.card {
  width: fit-content;
  margin: auto;
}

.card h1 {
  display: block;
  text-align: center;
}

div img {
  margin: auto;
}
